<div class="card border-primary m-3">
  <div class="card-body">
    <% if @employee_profile.errors.present? %>
      <%= render "shared/errors", errors: @employee_profile.errors %>
    <% end %>
    <h4 class="card-title"></h4>
    <%= form_with url: fired_company_department_employee_profiles_path(@company, @department, id: @employee_profile), data: { turbo: false }  do |f| %>
      <div class="mb-3">
        <label for="fired_date"><%= t('.dismissal_date') %></label>
        <input type="date" id="fired_date" name="fired[date]">
      </div>
      <%= f.submit t('.save'), class: 'mt-3 btn btn-success' %>
    <% end %>
  </div>
</div>
