
<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
          <td>
            <div class ='action-buttons'>
              <% unless user.blocked? %>
                <%= button_to 'Bloquear Gerente', block_user_path(user), method: :patch, id: dom_id(user, 'block'), class: 'btn btn-success' %>
              <% else %>
                <%= button_to 'Desbloquear Gerente', unblock_user_path(user), method: :patch, id: dom_id(user, 'unblock'), class: 'btn btn-danger' %>
              <% end %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>




<%= link_to 'Voltar', root_path %>