<% if  @emails.present? %>
  <table class="table table-striped table-bordered">
    <thead class="text-center">
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>

      <% @emails.each do |email| %>
        <tr>
          <td class="align-baseline"><%= email.email %></td>
          <td class="d-flex justify-content-around">

          <%= button_to manager_email_path(email.id), {method: :delete, id:"delete#{email.id}", form: { class: 'd-inline m-0' }, class:'btn btn-danger d-inline'} do %>
            <i class="bi bi-trash"></i>
          <% end %>

          <button class="btn btn-primary d-inline">
            <i class="bi bi-eye"></i>
          </button>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>