.form-field {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.card-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
// .card-title {
//   margin-bottom: 3rem;
// }
// .card-body {
//   padding: 2rem;
// }